<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erbe.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>
</manifest>